.table {
    display: inline-table;
    text-align: center;
    justify-content: center;
    border: 5px solid black;
    border-collapse: collapse;
    width: 80%;  
    
}
thead th, td{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: #2F56A6; /* NYCC BLUE*/
    color: white;
    font-weight: bold;
}