img{
    height: 10em;
    width: 10em;
}

.NavBar button{
    display: "flex";
    flex-direction: 'row';
    width: "50px";
    padding: "12px";
    margin: "0 6px 6px";
    background: "Black";
    text-decoration: "none";
    color: "White";
    
}

.NavBar button:hover{
 
 background-color: green;
 padding: 10px;
 
}

